<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>io.f1r3fly.f1r3drive.RevFolderUnlocker</string>
    <key>CFBundleName</key>
    <string>RevFolderUnlocker</string>
    <key>CFBundleDisplayName</key>
    <string>RevFolderUnlocker</string>
    <key>CFBundleExecutable</key>
    <string>RevFolderUnlocker</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSSupportsAutomaticTermination</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>io.f1r3fly.f1r3drive.revfolderunlocker</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>f1r3drive</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
    </array>
</dict>
</plist>